.App{
    width: 239px;
    height: 430px;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
}

.ecran{
    width: 90%;
    height: 50px;
    background-color: black;
    margin-top: 20px;
    color: white;
    padding-top: 25px;
    text-align: right;
    font-size: 20px;
}
.clavier{
    width: 90%;
    height: 305px;
    background-color: black;
    margin-top: 20px;
    color: white;
    .menu{
        display: flex;
        justify-content: space-between;
        border: 1px solid white;
        padding: 10px;
        div{
            border: 1px solid white;
            padding: 5px;
            width: 100%;
            text-align: center;
            &:hover{
                background-color: yellowgreen;
                cursor: pointer;
            }
        }
    }
    table{
        font-weight: bolder;
        text-align: center;
        display: flex;
        justify-content: center;
        td{
            padding: 20px;
            border: 1px solid white;
            &:hover{
                background-color: yellowgreen;
                cursor: pointer;
            }
        }
    }
}